extends ./layout
block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        form.new-publication(
          action='/articles/add',
          method=method,
          enctype='multipart/form-data'
        )
          .new-publication__header
            h1 Новая публикация
            .new-publication__date-form
              h3 Дата публикации
              .new-publication__date-block-wrap
                .new-publication__date-block
                  label(
                    for='new-publication-date',
                    aria-label='Календарь'
                  )
                  input#new-publication-date(
                    type='text',
                    name='createdDate',
                    placeholder='21.03.2019'
                  )
            button.new-publication__button.button.button--colored(
              type='submit'
            ) Опубликовать
          button.popup__button.button.button--popup-close(
            type='button',
            aria-label='Закрыть окно'
          )
            | Закрыть
            | окно
          .new-publication__form.form
            div
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(
                      type='text',
                      name='title',
                      placeholder='Заголовок',
                      required
                    )
                .form__field.form__field--post-image
                  label
                    input#image-name-field(
                      name='photo',
                      type='text',
                      placeholder='Фотография',
                      readonly=''
                    )
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file')
                      | Обзор
                a.new-publication__form-link.button.button--transparent(
                  href='#'
                ) Добавить категорию
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(
                      name='announce',
                      rows='1',
                      placeholder='Анонс публикации'
                    ) #{article ? article.announce : undefined}
                .form__field.form__field--publication-text
                  label
                    textarea(
                      name='fulltext',
                      rows='1',
                      placeholder='Полный текст публикации'
                    ) #{article ? article.fullText : undefined}
      .modal__overlay
